# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Shred-EmAll.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\RIDVAN\My Games\Shred-EmAll\.idea\.idea.Shred-EmAll\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
